<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScriptTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ScriptTimer.Properties.Settings>
            <setting name="Time" serializeAs="String">
                <value>05:50:00</value>
            </setting>
            <setting name="Url" serializeAs="String">
                <value />
            </setting>
            <setting name="WaitingPeriod" serializeAs="String">
                <value>300</value>
            </setting>
        </ScriptTimer.Properties.Settings>
    </userSettings>
</configuration>